@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Roboto:wght@300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}



header{
    height: 100px;
    width: 100vw;
    border-bottom: 1px solid rgba(221, 221, 221, 0.582)
}

.header{
    max-width: 1140px;
    height: 100px;
    display: flex;
    margin: auto;
    align-items: center;
}
.about{
    display: flex;
    flex: 1;
    margin-left: 10px;
    gap: 20px;
    text-transform: uppercase;
}
.about a{
    text-decoration: none;
    color:#8ad5ce;
    font-size: 14px;
    
}

.menu-principal{
    flex:1; /* usado para o menu usar o restante da div*/
    display: flex;
    justify-content: flex-end;
    margin-right: 65px;
    align-items: center;
        
}

.menu-principal ul,
.menu-principal li{
    list-style: none;

    

}
.menu-principal nav img{
    width: 25px;
    height: 25px;
    
}

.logosize a img{ 
    width: 100px;
    height: 100px;
}

.menu-principal nav ul li a{
    width: 50px;
    height: 50px;
    text-decoration: none;
    text-transform: uppercase;
}
.menu-opcoes{
    display: flex;
    padding-top: 15px;
    margin-left: 210px;
}
.opcoes{
    display: flex;
    gap: 30px;
}
.opcoes a{
    text-decoration: none;
    color: #8ad5ce;
    gap: 30px;
    text-transform: uppercase;
    font-size: 13px;

}

.banner{
    width: 100vw;
    margin-top: 50px;
    height: calc(100vh - 250px);
    background-image: url('banner3.jpg');
    background-size: cover;
    background-position: top center; /*escolher onde vai dar prioridade da imagem na tela*/
    overflow: hidden; /*esconder os elementos que passarem do tamamho do banner*/
    display: flex;
}

.textobanner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    gap: 15px;
}
.textobanner h1, .textocompras, .textoregioes{
    color: #5c9791;
}
.textocompras{
    font-family:'Montserrat' ;
    font-weight: 200;
}
.textobanner h1{
    font-family: 'Dancing Script', cursive;
    /*font-family: 'Licorice', cursive;*/
    font-size: 120px;
    font-weight: 600;
}
.textobanner .textocompras{
    font-size: 35px;
}

.textobanner .textoregioes{
    font-size: 25px;
    margin-top: 50px;
}

.banner-info{
    width: 100vw;
    height: 100px;
    background-color: #c9ffff;
    display: flex;
    padding: 15px;
    justify-content: space-evenly;
    align-items: center;
    
}

.banner-info--parcelamento img, .banner-info--comprasegura img, .banner-info--frete img{
    width: 50px;
    height: 50px;
}

.banner-info--parcelamento h4, .banner-info--comprasegura h4, .banner-info--frete h4{
    color: #5c9791;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.banner-info--parcelamento,.banner-info--comprasegura,.banner-info--frete {
    display: flex;
    align-items: center;
    gap: 30px;
}

.texto-banner--infoextra{
    font-size: 15px;
    font-weight: normal;
}

.section-glow, .section-promofinesse{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.section-glow--body, .section-promofinesse--body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section-promofinesse--body{
    margin-top: 45px;
}
.section-promofinesse--title h3{
    font-size: 50px;
}
.section-glow--title h3, .section-promofinesse--title h3{
    color: #5c9791;
    font-size: 70px;
    font-weight: lighter;
    font-family: 'Dancing Script', cursive;

}



.section-glow--disposicao ,.section-promofinesse--disposicao{
    display: flex;
    margin-top: 80px;
    gap: 20px;
}

.section-glow--itens img, .section-promofinesse--itens img{
    width: 275px;
    height: 275px;
    border-radius: 10px;

}
.section-glow--itens-info, .section-promofinesse--itens-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 5px;
}
.section-glow--itens-info h4, .section-promofinesse--itens-info h4{
    font-weight: 400;
    color: #5c9791;
    font-size: 15px;
}
.section-glow--itens-info h5, .section-promofinesse--itens-info h5{
    font-size: 13px;

}

.section-glow .sliders-pointers{
    width: 100vw;
    height: 20px;
    margin-top: 50px;
    /*background-color: red; para visualizar o local onde seriam inseridos os pointers*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-glow .pointer{
    width: 15px;
    height: 15px;
    border:2px solid #5c9791;
    border-radius: 8px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}
.section-glow .pointer.active{
    background-color: #5c9791;
}
.section-itens{
    display: flex;
    padding-top: 80px;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.section-itens img{
    width: 350px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #5c97916b;
}
.section-itens h4{
   text-align: center;
   position: absolute;
   margin-top: -285px;
   margin-left: 25px;
   font-family: 'Dancing Script', cursive;
   font-size: 50px;
   color:#3b8f8f

}

footer{
    background-color: #3b8f8f;
    height: 55px;
    width: 100vw;
    color: white;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.section-info--itens{
    padding: 65px;
    border-top: 1px solid #3b8f8f;
    margin-top: 120px;
    display: flex;
    align-items: baseline;
    gap: 10px;
    max-width: 100vw;
    justify-content: center;
}
.section-info-sobrealoja{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    flex: 1;
    margin-left: 120px
}
.section-info-sobrealoja h3{
    color: #3b8f8f; 
    font-weight: normal;
    font-size: 22px;
}
.section-info-sobrealoja img{
    height: 25px;
    width: 25px;
}
.section-info-sobrealoja p{
    font-size: 13px;
}
.section-info-institucional{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.section-info-institucional h4{
    margin-bottom: 10px;
    font-weight: 600;
    color: #3b8f8f;
    
}
.section-info-institucional a{
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}
.section-info-centraldeatendimento{
    flex: 1;
    align-items: center;
}
.section-info-centraldeatendimento h4{
    margin-bottom: 15px;
    font-weight: 600;
    color: #3b8f8f;
    
}
.central-atendimento-whatsapp, .central-atendimento-email{
    margin-bottom: 10px;
    font-size: 14px;
}
.central-atendimento-horas{
    font-size: 14px;
}
.central-atendimento-whatsapp img, .central-atendimento-email img{
    width: 20px;
    height: 15px;
}

.info-pagamento-cartoes img{
    width: 35px;
    height: 25px;
}

.section-info-pagamentos{
    flex: 1;
    margin-right: 120px;
    
}
.section-info-pagamentos h4{
    margin-bottom: 10px;
    color: #5c9791;
    font-weight: 600;
}
.imagens-seguranca{
    display: flex;
    align-items: center;
    gap: 10px;
}
.imagens-seguranca img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
}
.info-pagamento-seguranca{
    margin-top: 20px;
    color: #5c9791
}

